/*-------------------------------------------    
    General
-------------------------------------------*/	

body {
	background: #FFF url(images/header_bg.gif) repeat-x top;
	font-family: 'Signika', sans-serif;
	font-size: small;
}

strong { font-weight: bold; }

h1 { font-size: 300% }
h2 { font-size: 190%; border-bottom: 1px solid #DDD; }
h3 { font-size: 175% }
h4 { font-size: 150% }
h5 { font-size: 120% }
h6 { font-size: 100% }

h1, h2, h3, h4, h5, h6 {
	color: #bd2025;
	letter-spacing: -0.04em;
}

h2 { color: #39445D; }

a { color: #2A54A9; font-weight: bold; border-bottom: solid 1px #EFEFEF; text-decoration: none  }
	
a:hover { border-color: #2A54A9; }

a.button {
	color: white;
	background-image: linear-gradient(top, rgb(108,148,55) 14%, rgb(66,112,22) 57%);
	background-image: -o-linear-gradient(top, rgb(108,148,55) 14%, rgb(66,112,22) 57%);
	background-image: -moz-linear-gradient(top, rgb(108,148,55) 14%, rgb(66,112,22) 57%);
	background-image: -webkit-linear-gradient(top, rgb(108,148,55) 14%, rgb(66,112,22) 57%);
	background-image: -ms-linear-gradient(top, rgb(108,148,55) 14%, rgb(66,112,22) 57%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.14, rgb(108,148,55)),
		color-stop(0.57, rgb(66,112,22))
	);
	border-right: 2px solid #EFEFEF;
	border-bottom: 2px solid #EFEFEF;
	font-size: 150%;
	padding: 8px 15px;
	border-radius: 8px;
}

/*-------------------------------------------    
    Page Layout
-------------------------------------------*/	

#header {
	height: 134px;
	position: relative;
}
	
#wrapper { 
	width: 960px; 
	margin: 0 auto;
}

#content {
	padding: 1.5em 0;
}

#footer {
	background: #1d305b url(images/footer_bg.gif) repeat-x top;
	color: #FFF;
	padding: 2em;
}

#footer h2 {
	border: none;
}

a#logo {
	background: url(images/logo_bg.gif) no-repeat bottom left;
	width: 400px;
	height: 124px;
	display: block;
	display: hidden;
}
	
	a#logo span { display: none; }
	
#footer { color: #AFAFAF;  }

#footer #container { width: 960px; margin: 0px auto; }

#footer h2 { color: #FFF }

#footer ul { width: 500px; margin: 0px auto; font-size: 140%; float: right; }

	#footer ul li { float: right; }
	
		#footer ul li a { display: block; padding: 8px; color: #E1E8F1; text-decoration: none }
		
		#footer ul li a:hover { background: #1d305b }
		
#header a, #footer a { border: none }

#footer p#authors { float: right; margin: 0; padding: 0; }

#footer p#authors a { color: #AFAFAF; }

/*-------------------------------------------    
    Global Page Styling
-------------------------------------------*/	

#content p { margin: 1em 0; line-height: 1.5 }

#content img { margin: 1em 0 1em 1em; float: right; }

.pull { float: right; margin: 0 0 0 2em; }

/*-------------------------------------------    
    Navigation
-------------------------------------------*/	

ul#navigation {
	position: absolute;
	right: 0px; bottom: 0px;
	width: 575px;
	text-align: right;
	font-size: 130%;
	text-transform: uppercase;
	color: #cfd2d6;
}
	ul#navigation li {
		padding: 0px;
		display: inline-block;
		line-height: 1em;
		background: #888aab url(images/tab_ur.gif) no-repeat top right;
	}

	ul#navigation li + li {
		margin-left: 0px;
	}
	
		ul#navigation li a {
			display: block;
			padding: 7px 15px 5px 15px;
			color: #cfd2d6;
			text-decoration: none;
			background: transparent url(images/tab_ul.gif) no-repeat top left;
		}

/*-------------------------------------------    
    Navigation Switches
-------------------------------------------*/

body#home #home-tab,
body#about #about-tab,
body#work #work-tab,
body#contact #contact-tab,
body#testimonials #testimonials-tab
{ background: #FFF url(images/tab_c_ur.gif) no-repeat top right; }

body#home #home-tab a,
body#about #about-tab a,
body#work #work-tab a,
body#contact #contact-tab a,
body#testimonials #testimonials-tab a
{ background-image: url(images/tab_c_ul.gif) ; color: #1d305b}

/*-------------------------------------------    
    Content
-------------------------------------------*/

.abstract p {
	font-size: 160%;
	line-height: 1.3 !important;
	font-style: italic;
	margin-top: .5em !important;
}


.abstract h1 {
	font-size: 350%;
}

body#home .abstract em {
	background-color: #FFFFCC;
	padding: 0 4px;
}

body#home .abstract {
	padding: 0em 1.5em;
	border-bottom: solid 1px #D4D4D4;
	margin-bottom: 2em;
	color: #4D3636;
	background: transparent url(images/abstract_bg.gif) repeat-x bottom;
}

#home-copy p { font-size: 110%; line-height: 1.8; }
#content blockquote + blockquote { margin-top: 1.5em;}
#content blockquote { border-left: 5px solid #EFEFEF; padding-left: 15px; }
#home-copy h2 { font-size: 230%; color: #bd2025; border: none;}

#home-copy img#shop { float: right; margin: 0 0 0 2em; }


#map { float: right }

ul.notes {
	width: 560px;
	font-size: 160%;
	float: left;
}

	ul.notes li#location {
		background: url(images/location_bullet.gif) no-repeat left center;
	}
	ul.notes li#hours {
		background: url(images/hours_bullet.gif) no-repeat left center;
	}
	ul.notes li#contact {
		background: url(images/contact_bullet.gif) no-repeat left center;
	}
	

	ul.notes li {
		margin: 1.5em 0;
		padding-left: 100px;
	}

	ul.notes h3 {
		text-transform: uppercase;
		font-size: 130%;
	}
	
#work img { float: none; margin: 0 0 5px 0; }
/*#work div.polaroids { clear: left }*/
#work div.polaroids p { width: 300px; float: left; background: #EFEFEF; margin: 1em 4px; padding: 5px; font-size: 140%; text-align: center;}

.logos {
	float: right;
	width: 200px;
	text-align: center;
}

.logos img { display: block; display: block; float: left !important; padding: 15px 0;}

#about .about {
	padding-right: 250px;
}

#about #awards {
	float: left;
	width: 700px;
}

#yelp {
	float: right;
}

body#testimonials em {
	font-style: italic;
}

body#testimonials div.body {
	float: left;
	width: 700px;
}

body#testimonials div.body .byline {
	padding-left: 30px;
}

body#testimonials div.body blockquote {
	border-radius: 10px;
	background: #EFEFEF;
	border-right: 3px solid #D4D4D4;
	border-bottom: 3px solid #D4D4D4;
	padding: 20px 1em;
	margin: 1.5em 0;
	font-size: 120%;
	color: #222;
}


/*-------------------------------------------    
    Clearfix
-------------------------------------------*/	
.clearfix:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

.clearfix {display:inline-block;} 
/* Hide from IE Mac \*/ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 